.sidebar {
    background : #a3d8f6;
}

.nav-item a {
    border-color : #eee;
}

h2,.brand-tagline,.post-title {
    color: #436fb4;
}

h2 {
    margin:2rem 0 1rem;
}

.post-description {
    line-height: 1.5em;
}

li + li {
    margin-top: 0.25rem;
}